* {
  padding: 0;
  margin: 0;
}
.editor {
  height: 500px;
  border-radius: 3%;
  width: 300px;
  color: blue;
  background-color: #ebebeb;
  border: 3px solid #f5a25d;
  z-index: 2000;
  position: absolute;
  top: 10%;
  left: 77%;
}
.categories {
  display: flex;
  justify-content: space-around;
  background-color: #f5a25d;
}
.places-disposition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
p {
  padding: 0 10px;
}
.scroll {
  overflow: auto;
  height: 480px;
}

.place-img {
  width: 280px;
  height: 230px;
}
