.Header {
    height: 88vh;
    width: 100vw;
    padding: 0px;
    display: flex;
    align-items: center;
    background-image:  url('https://img-0.journaldunet.com/TUIoMZoSVMCDMXl0WUNfotBBS8U=/1280x/smart/2b7b473c1ebe416ead81f3f6179a1d75/ccmcms-jdn/11436203.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black; 
    flex-direction: column;
    justify-content: space-between;
}


.header-box{  /*grey opacity*/
   
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    height: 645px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ebebebd0;
    
   
}

   
.plan-trip{
    display: flex;
    flex-direction: column;
    background-color: #F5A25D;
    height: 100px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin-bottom: -20px;
    border-top:3px solid #FA7F72;
    border-bottom: 3px solid #FA7F72 ;
}

.RequestForm{
    display: flex;
    margin: 0px;
    width: 60%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 15px;
    background-color: rgb(247, 247, 247);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 16px 32px, rgba(0, 0, 0, 0.3) 0px 3px 15px;
}


.slogan-header{
    padding: 20px;
    margin: 50px;
    font-size: 60px;
    line-height: 52px;
    font-weight: 800;
}
.text-header{
    width: 360px;
    padding: 20px;
    margin: 50px;
    font-size: 18px;
    margin-top: 31px;
}